[Unit]
Description=FileManager Flask + Telegram Bot
After=network-online.target NetworkManager.service
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/filemanager
ExecStart=/opt/filemanager/.venv/bin/python /opt/filemanager/main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
